<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
    <property name="hibernate.connection.url">jdbc:derby:warhammerDB;create=true</property>
    <property name="hibernate.connection.username">gamer</property>
    <property name="hibernate.connection.password">8844Qgpty</property>
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
    <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="Database/CoreCase.hbm.xml"/>
    <mapping resource="Database/Unit.hbm.xml"/>
    <mapping resource="Database/Equipment.hbm.xml"/>
    <!--    <mapping resource="Database/Case.hbm.xml"/>-->
  </session-factory>
</hibernate-configuration>
